{% block attributes %}
{% for attr,value in attributes if value is not null and value is not empty %} {{ attr }}="{{ value }}"{% endfor %}
{% endblock %}

{% block table %}
{% spaceless %}
{{ table_begin(view) }}
{{ table_head(view) }}
{{ table_body(view) }}
{{ table_end(view) }}
{{ table_pagination(view) }}
{% endspaceless %}
{% endblock %}

{% block table_begin %}
{% spaceless %}
<table id="{{ name }}"{{ block('attributes') }}>
{% endspaceless %}
{% endblock %}

{% block table_end %}
{% spaceless %}
</table>
{% endspaceless %}
{% endblock %}

{% block table_head %}
{% spaceless %}
<thead>
	<tr>
		{% for column in columns %}
		{% set attributes = column.headAttributes %}
		<th{{ block('attributes') }}>{{ block('table_head_column_label') }}</th>
		{% endfor %}
	</tr>
</thead>
{% endspaceless %}
{% endblock %}
	
{% block table_head_column_label %}
{% spaceless %}
{% if  is_sortable and column.isSortable %}
<a href="{{ get_url_for_order(column.name) }}">{{ column.label }}</a>
{% if sort.currentColumnName == column.name %}
<span class="{{ sort.classes[sort.currentDirection] }}"></span>
{% endif %}
{% else %}
{{ column.label }}
{% endif %}
{% endspaceless %}
{% endblock %}

{% block table_body %}
{% spaceless %}
<tbody>
{% for row in rows %}
{% set attributes = row.attributes %}
<tr{{ block('attributes') }}>
	{% for column in columns %}
	{% set attributes = column.attributes %}
	<td{{ block('attributes') }}>{{ column.content(row)|raw }}</td>
	{% endfor %}
</tr>
{% else %}
<tr>
	<td colspan="{{ columns|length }}">{{ emptyValue }}</td>
</tr>
{% endfor %}
</tbody>
{% endspaceless %}
{% endblock %}

{% block table_pagination %}
{% spaceless %}
{% set attributes = {'class': classes['ul']|join(' ')} %}
<ul{{ block('attributes') }}>
{# Left arrow #}
{% if currentPage == 0 %}
{% set attributes = {'class': classes['li']['disabled']|join(' ')} %}
<li{{ block('attributes') }}><a>{{ prevLabel|raw }}</a></li>
{% else %}
{% set attributes = {'class': classes['li']['default']|join(' ')} %}
<li{{ block('attributes') }}><a href="{{ get_url_for_page(currentPage) }}">{{ prevLabel|raw }}</a></li>
{% endif %}

{# Pages #}
{% for index,page in pages %}
{% if page == currentPage %}
{% set attributes = {'class': classes['li']['active']|join(' ')} %}
{% else %}
{% set attributes = {'class': classes['li']['default']|join(' ')} %}
{% endif %}
<li{{ block('attributes') }}><a href="{{ get_url_for_page(page+1) }}">{{ page+1 }}</a></li>
{% if index+1 < pages|length and pages[index+1]-page > 1 %}
{% set attributes = {'class': classes['li']['disabled']|join(' ')} %}
<li{{ block('attributes') }}><a>...</a></li>
{% endif %}
{% endfor %}

{# Right arrow #}
{% if currentPage == totalPages-1 %}
{% set attributes = {'class': classes['li']['disabled']|join(' ')} %}
<li{{ block('attributes') }}><a>{{ nextLabel|raw }}</a></li>
{% else %}
{% set attributes = {'class': classes['li']['default']|join(' ')} %}
<li{{ block('attributes') }}><a href="{{ get_url_for_page(currentPage+2) }}">{{ nextLabel|raw }}</a></li>
{% endif %}
</ul>
{% endspaceless %}
{% endblock %}
	
{% block filter %}
{% spaceless %}
{{ filter_begin(view) }}
{{ filter_rows(view) }}
<br />
{{ filter_submit_button(view) }}
{{ filter_reset_link(view) }}
{{ filter_end(view) }}
{% endspaceless %}
{% endblock %}
	
{% block filter_begin %}
{% spaceless %}
{% if needsFormEnviroment %}<form id="filter_{{ tableName }}">{% endif %}
{% endspaceless %}
{% endblock %}

{% block filter_end %}
{% spaceless %}
{% if needsFormEnviroment %}</form>{% endif %}
{% endspaceless %}
{% endblock %}

{% block filter_label %}
{% spaceless %}
{% set attributes = filter.labelAttributes  %}
<label for="{{ filter.name }}"{{ block('attributes') }}>{{ filter.label }}</label>
{% endspaceless %}
{% endblock %}

{% block filter_widget %}
{% spaceless %}
{{ block(filter.widgetBlockName) }}
{% endspaceless %}
{% endblock %}

{% block filter_row %}
{% spaceless %}
{{ filter_label(filter) }}: {{ filter_widget(filter) }}
{% endspaceless %}
{% endblock %}

{% block filter_rows %}
{% spaceless %}
{% for filter in filters %}
{{ filter_row(filter) }}
{% if not loop.last %}<br />{% endif %}
{% endfor %}
{% endspaceless %}
{% endblock %}

{% block filter_submit_button %}
{% spaceless %}
{% if needsFormEnviroment %}<input type="submit" value="{{ submitLabel }}"{{ block('attributes') }} />{% endif %}
{% endspaceless %}
{% endblock %}

{% block filter_reset_link %}
{% spaceless %}
<a href="{{ resetUrl }}"{{ block('attributes') }}>{{ resetLabel }}</a>
{% endspaceless %}
{% endblock %}

{% block text_widget %}
{% spaceless %}
{% set attributes = filter.attributes %}
{% set filterValue = filter.getValue(constant('JGM\\TableBundle\\Table\\Filter\\FilterInterface::FOR_RENDERING')) %}
<input type="text" id="{{ filter.name }}" name="{{ filter.name }}"{{ block('attributes') }}{% if filterValue is not null %} value="{{ filterValue }}"{% endif %} />
{% endspaceless %}
{% endblock %}

{% block list_widget %}
{% spaceless %}
{% set attributes = filter.attributes %}
<ul{{ block('attributes') }}>
{% set isResetItemRendered = (filter.resetLabel is null) %}

{% for value,label in filter.values %}
{% if isResetItemRendered and filter.resetPos <= loop.index0 %}
{% set itemValue = null %}
{% set itemLabel = filter.resetLabel %}
{{ block('list_widget_item') }}
{% endif %}
{% set itemValue = value %}
{% set itemLabel = label %}
{{ block('list_widget_item') }} 
{% endfor %}
{% if not isResetItemRendered %}
{% set itemValue = null %}
{% set itemLabel = filter.resetLabel %}
{{ block('list_widget_item') }}
{% endif %}
</ul>
{% endspaceless %}
{% endblock %}
	
{% block list_widget_item %}
{% spaceless %}
{% if is_identical(itemValue|trans, filter.value) %}
{% set attributes = filter.liActiveAttr %}
{% else %}
{% set attributes = filter.liAttr %}
{% endif %}
<li{{ block('attributes') }}><a href="{{ get_url({ (filter.name) : itemValue }) }}">{{ itemLabel }}</a></li>
{% endspaceless %}
{% endblock %}

{% block select_widget %}
{% spaceless %}
{% set attributes = filter.attributes %}
{% set values = filter.values %}
<select name="{{ filter.name }}" id="{{ filter.name }}"{{ block('attributes') }}>
	<option value="{{ filter.defaultValue }}" selected="selected">{{ filter.resetLabel }}</option>
{% for value,label in values %}
	<option value="{{ value }}"{% if is_identical(value|trans,filter.value) %} selected="selected"{% endif %}>{{ label }}</option>
{% endfor %}
</select>
{% endspaceless %}
{% endblock %}

{% block choice_widget %}
{% spaceless %}
{% set attributes = filter.attributes %}
{% set values = filter.values %}
<input type="radio" id="{{ filter.name~'default' }}" name="{{ filter.name }}" value="{{ filter.defaultValue}}" checked="checked"{{ block('attributes') }} /><label for="{{ filter.name~'default' }}">{{ filter.resetLabel }}</label>
{% for value,label in values %}
{% set id = filter.name~(value|replace({' ':'_'})) %}
<input type="radio" id="{{ id }}" name="{{ filter.name }}" value="{{ value }}"{% if value == filter.value %} checked="checked"{% endif %}{{ block('attributes') }} /><label for="{{ id }}">{{ label }}</label>
{% endfor %}
{% endspaceless %}
{% endblock %}

{% block date_text_widget %}
{% spaceless %}
{% set attributes = filter.attributes %}
{% if filter.type == "date" %}
{% set format = "Y-m-d" %}
{% else %}
{% set format = filter.format %}
{% endif %}
{% set filterValue = filter.getValue(constant('JGM\\TableBundle\\Table\\Filter\\FilterInterface::FOR_RENDERING')) %}
<input type="{{ filter.type }}" id="{{ filter.name }}}" name="{{ filter.name }}"{% if filterValue is not null %} value="{{ filterValue|date(format) }}"{% endif %}{{ block('attributes') }} />
{% endspaceless %}
{% endblock %}