{% block table_head %}
{% spaceless %}
<thead>
	<tr>
		{% for column in columns %}
		<th{{ column.headAttributes|format_attributes }}>
			{% if column.isSortable %}
			<a href="{{ order_url(parameters.columnName, column.name, parameters.direction, currentDirection, currentColumnName, parameters.pagination) }}">{{ column.label }}</a>
			{% if currentColumnName == column.name %}
			{% if not classes[currentDirection] is null %}<span class="{{ classes[currentDirection] }}"></span>{% else %}{{ orderHtml[currentDirection]|raw }}{% endif %}
			{% endif %}
			{% else %}
			{{ column.label }}
			{% endif %}
		</th>
		{% endfor %}
	</tr>
</thead>
{% endspaceless %}
{% endblock %}
