{% block table_pagination %}
{% spaceless %}
<ul{{ {'class': classes['ul']|join(' ')}|format_attributes }}>

{# Left arrow #}
{% if currentPage == 0 %}
<li{{ {'class': classes['li']['disabled']|join(' ')}|format_attributes }}>
	<a>{{ prevLabel|raw }}</a>
</li>
{% else %}
<li{{ {'class': classes['li']['default']|join(' ')}|format_attributes }}>
	<a href="{{ page_url(parameterName, currentPage) }}">{{ prevLabel|raw }}</a>
</li>
{% endif %}

{# Pages #}
{% for index,page in pages %}
{% if page == currentPage %}
{% set attributes = {'class': classes['li']['active']|join(' ')} %}
{% else %}
{% set attributes = {'class': classes['li']['default']|join(' ')} %}
{% endif %}
<li{{ attributes|format_attributes }}>
	<a href="{{ page_url(parameterName, page+1) }}">{{ page+1 }}</a>
</li>
{% if index+1 < pages|length and pages[index+1]-page > 1 %}
<li{{ {'class': classes['li']['disabled']|join(' ')}|format_attributes }}><a>...</a></li>
{% endif %}
{% endfor %}

{# Right arrow #}
{% if currentPage == totalPages-1 %}
<li{{ {'class': classes['li']['disabled']|join(' ')}|format_attributes }}>
	<a>{{ nextLabel|raw }}</a>
</li>
{% else %}
<li{{ {'class': classes['li']['default']|join(' ')}|format_attributes }}>
	<a href="{{ page_url(parameterName, currentPage+2) }}">{{ nextLabel|raw }}</a>
</li>
{% endif %}

</ul>
{% endspaceless %}
{% endblock %}

{% block table_pagination_option %}
{% spaceless %}
{{ table_pagination_option_begin(tableView) }}
	{{ table_pagination_option_label(tableView) }}
	{{ table_pagination_option_input(tableView) }}
	{{ table_pagination_option_button(tableView) }}
{{ table_pagination_option_end(tableView) }}
{% endspaceless %}
{% endblock %}

{% block table_pagination_option_begin %}
{% spaceless %}
<form method="post" name="{{ tableName }}_option">
	<input type="hidden" name="table_option_values_table_name" value="{{ tableName }}" />
{% endspaceless %}
{% endblock %}

{% block table_pagination_option_label %}
{% spaceless %}
{% if label %}
<label for="{{ tableName }}_option_values"{{ labelAttributes|format_attributes }}>{{ label }}</label>
{% endif %}
{% endspaceless %}
{% endblock %}

{% block table_pagination_option_input %}
{% spaceless %}
<select name="{{ tableName }}_option_values" id="{{ tableName }}_option_values"{{ attributes|format_attributes }}>
	{% for value in values %}
		<option{% if currentValue == value %} selected="selected"{% endif %}>{{ value }}</option>
	{% endfor %}
</select>
{% endspaceless %}
{% endblock %}

{% block table_pagination_option_button %}
{% spaceless %}
<input type="submit" name="submit_{{ tableName }}_option_values" value="{{ submitLabel }}"{{ submitAttributes|format_attributes }} />
{% endspaceless %}
{% endblock %}

{% block table_pagination_option_end %}
{% spaceless %}
</form>
{% endspaceless %}
{% endblock %}