<tr>
	<th>Columns</th>
	<td>
		<table>
			<tr>
				<th>Class</th>
				<th>Name</th>
				<th>Label</th>
				<th>Head Attributes</th>
				<th>Attributes</th>
				<th>Sortable?</th>
			</tr>
		{% for column in tableView.columns %}
			<tr>
				<td><code>{{ column.class }}</code></td>
				<td>{{ column.name }}</td>
				<td>{{ column.label }}</td>
				<td>{{ column.head_attributes|join(', ')|default('-') }}</td>
				<td>{{ column.attributes|join(', ')|default('-') }}</td>
				<td>{% if column.sortable %}Yes{% else %}No{% endif %}</td>
			</tr>
		{% endfor %}
		</table>
	</td>
</tr>
