{% if tableView.pagination_options is defined %}
<tr>
	<th>Pagination options</th>
	<td>
		<table>
			<tr>
				<th>GET Parameter name</th>
				<td>{{ tableView.pagination_options.parameter_name }}</td>
			</tr>
			<tr>
				<th>Current Page</th>
				<td>{{ tableView.pagination_options.current_page }}</td>
			</tr>
			<tr>
				<th>Items per row</th>
				<td>{{ tableView.pagination_options.items_per_row }}</td>
			</tr>
			<tr>
				<th>Maximal Pages, shown at the pagination</th>
				<td>{% if tableView.pagination_options.max_pages is null %}all shown{% else %}{{ tableView.pagination_options.max_pages }}{% endif %}</td>
			</tr>
			<tr>
				<th>CSS Classes</th>
				<td>{{ tableView.pagination_options.css_classes|join(' ; ') }}</td>
			</tr>
			<tr>
				<th>Label for 'Next page'-Button</th>
				<td>{{ tableView.pagination_options.next_label }}</td>
			</tr>
			<tr>
				<th>Label for 'Previous page'-Button</th>
				<td>{{ tableView.pagination_options.prev_label }}</td>
			</tr>
			<tr>
				<th>Show empty pagination (empty = only one page)?</th>
				<td>{% if tableView.pagination_options.show_empty %}Yes{% else %}No{% endif %}</td>
			</tr>
		</table>
	</td>
</tr>
{% endif %}
