{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <span class="icon">{{ include('JGMTableBundle:DataCollector:icon.svg.twig') }}</span>
		<span class="sf-toolbar-value sf-toolbar-status{% if not collector.exception is null %} sf-toolbar-status-red{% elseif collector.duration > 1000 %} sf-toolbar-status-yellow{% endif %}">{{ collector.count }}</span>
		<span class="sf-toolbar-value">in {{ collector.duration }} ms</span>
    {% endset %}

    {% set text %}
		<div class="sf-toolbar-info-piece">
            <b>Tables</b>
            <span class="sf-toolbar-value sf-toolbar-status">{{ collector.count }}</span>
        </div>
		
		{% if collector.tableTimes|length > 1 %}
		{% for tableName, tableData in collector.tableTimes %}
		<div class="sf-toolbar-info-piece">
            <b>Table {{ tableName}} </b>
            <span{% if tableData.4 > 1000 %} class="sf-toolbar-status sf-toolbar-status-yellow"{% endif %}>{{ tableData.4 }} ms</span>
        </div>
		{% endfor %}
		{% endif %}
		
		<div class="sf-toolbar-info-piece">
            <b>{% if collector.tableTimes|length > 1 %}All Tables{% else %}Time{% endif %}</b>
            <span>{{ collector.duration }} ms</span>
        </div>
		
		<div class="sf-toolbar-info-piece">
            <b>Exception</b>
			{% if collector.exception is null %}
            <span class="sf-toolbar-status sf-toolbar-status-green">No</span>
			{% else %}
			<span class="sf-toolbar-status sf-toolbar-status-red">Yes</span>
			{% endif %}
        </div>
		
		<div class="sf-toolbar-info-piece">
            <b>Version</b>
			<span>{{ collector.version }}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
			{{ include('JGMTableBundle:DataCollector:icon.svg.twig') }}
		</span>
        <strong>Tables</strong>
		<span class="count"><span>{{ collector.count }}</span></span>
    </span>
{% endblock %}

{% block panel %}
    {{ include('JGMTableBundle:DataCollector:panel_times.html.twig') }}
	{{ include('JGMTableBundle:DataCollector:panel_exception.html.twig') }}
{% endblock %}
