<tbody>
	{% for row in view.rows %}
	<tr{{ table_attributes(row.attributes) }}>
		{% for column in view.columns %}
		<td{{ table_attributes(column.attributes) }}>
			{{ column.getContent(row) }}
		</td>
		{% endfor %}
	</tr>
	{% else %}
	<tr>
		<td colspan="{{ view.columns|length }}">{{ view.emptyValue }}</td>
	</tr>
	{% endfor %}
</tbody>