<thead>
	<tr {{ table_attributes(view.headerAttributes) }}>
		{% for column in view.columns %}
		<th{{ table_attributes(column.headerAttributes) }}>
			{% if view.sortable|length > 0 and column.isSortable %}
				<a href="{{ path(currentRoute, routeParameters|merge(view.sortable.param_column : column.name, )) }}">{{ column.label }}</a>
				{% if view.sortable.column == column.name %}
					{% image '@PZADTableBundle/Resources/public/images/' ~ directionImage %}
						<img src="{{ asset_url }}" alt="" />
					{% endimage %}
				{% endif %}
			{% else %}
				{{ column.label }}
			{% endif %}
		</th>
		{% endfor %}
	</tr>
</thead>